.logo-container {
    z-index: -10;
    width: 600px;
    position: absolute;
    top: 0;
    right: 27%;
    bottom: 0;
    left: auto;
    margin: auto;

    img {
        width: 1100px;
        transform: rotate(-20deg);
        transform: rotateZ(30deg);
    }
}

@media only screen and (max-width: 1730px) {
    .logo-container {
        right: 15%;

        opacity: 0.5;

        img {
            width: 1000px;
        }
    }
}